<h1>Edit a shift for the <%= @store.name %> location:</h1>
<%= form_for @shift do |f| %>
    <%= f.label :day %>
    <%= f.date_field :day %><br>
    <%= f.label :start_time %>
    <%= f.select :start_time, [['9:00', 900], ['1:00', 1300], ['5:00', 1700]] %><br><br>
    <%= f.label :end_time %>
    <%= f.select :end_time, [['1:00', 1300], ['5:00', 1700], ['9:00', 2100]] %><br><br>
    <%= f.label "Manager" %>
    <%= f.select :manager_id, @managers %><br><br>
    <%= f.label "Employees" %>
    <%= f.collection_check_boxes :employee_ids, @employees, :id, :name do |t| %>
      <%= t.check_box %><%= t.label %>
    <% end %>
    <br><br>
    New Task Information:<br>
    <ol><%= f.fields_for :tasks do |ff|%>
      <li><%= ff.text_field :description%></li><br>
    <% end %></ol>
    <%= f.submit %>
<% end %>
<br><br>
