<!DOCTYPE html>
<html>
  <head>
    <title>Ollert</title>
    <!-- MATERIAL ICONS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
        <!-- APPLE -->
        <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- MATERIAL STYLES -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
        <!-- GOOGLE FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Raleway" rel="stylesheet">
        <style media="screen">
        .simple-calendar td { height: 100px; width: 100px; vertical-align: top; border-style: solid; padding: 3px;}
        .simple-calendar th {background-color: #64b5f6;  border-style: solid; text-align: center; margin: auto;}
        .calendar-heading { text-align: center; font-weight: bold; font-size: 25px; }
        .calendar-title {font-size: 50px; text-align: center; font-weight: bold;}

          .card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
            color: #0089ec;
            margin-right: 24px;
            transition: color .3s ease;
            text-transform: uppercase;
          }

        </style>
  </head>
  <nav>
    <div class="nav-wrapper blue darken-3">
      <div class="container">
        <% if current_user %>
          Hi, <%= current_user.name%>!
          <ul id="nav-mobile" class="right">
            <% if logged_in_manager  %>
              <li><%= link_to "Home", '/' %></li>
              <li><%= link_to "New Shift", new_store_shift_path(current_user.store.id) %></li>
              <li><%= link_to "New Employee", new_employee_path %></li>
              <li><%= link_to 'Shifts', "/stores/#{current_user.store.id}/shifts" %></li>

              <% else %>

              <% end %>
          <li><%= link_to "Logout", :logout %></li>
          </ul>

        <% end %>
      </div>
    </div>
  </nav>
  <body>
    <div class="container">
      <%= yield %>
    </div>

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- MATERIALIZE -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

    <!-- SCRIPT -->
    <script type="text/javascript">
      $(document).ready(function(){
        $('.parallax').parallax();
        $(".button-collapse").sideNav();
        $('.modal').modal();
        $('select').material_select('destroy');
      });

      $(document).ready(function() {
      $('select').material_select();
    });
    </script>

  </body>
  <footer class="footer-copyright container m6 s4">

  </footer>

</html>
